@font-face {
    font-family: 'Cascadia Mono';
    src: url(https://cdn.jsdelivr.net/npm/@fontsource/cascadia-mono@4.2.1/files/cascadia-mono-latin-ext-400-normal.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/npm/@fontsource/cascadia-mono@4.2.1/files/cascadia-mono-latin-ext-400-normal.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

:root {
    --color1: #aadd44;
    --color2: #bbee55;
    --color3: #88bb44;
    --color4: #337733;
}

[data-theme="light"] {
    --color1: #00aa00;
    --color2: #008800;
    --color3: #009900;
    --color4: #006600;
}

code,
kbd,
pre {
    font-family: "Cascadia Mono", "Roboto Mono", "Courier New", Courier, monospace;
}

.nn {
    text-decoration: none !important;
    font-weight: bold;
}

.view-this-page,
.edit-this-page {
    display: none !important;
}

.sidebar-logo {
    width: 11em;
}

a,
.sig-name {
    color: var(--color1) !important;
}

a:hover,
.sig-prename {
    color: var(--color2) !important;
}


a:visited {
    color: var(--color3) !important;
}

a:visited:hover {
    color: var(--color4) !important;
}